@import "../../../../../design-tokens.scss";

:host {
  display: flex;
  gap: $spacing-medium;
  border-radius: $spacing-small;
  justify-content: center;
  align-items: center;

  @include hover-underline;

  @media (max-width: map-get($max-width, md)) {
    a {
      p {
        font-size: map-get($text-font-size, small);
      }
    }
  }
}
