@import "../../../../../design-tokens.scss";

:host {
  a {
    text-decoration: none;
    color: $color-on-background;
  }

  img {
    border-radius: $spacing-small;
    aspect-ratio: 21/9;
    object-fit: cover;
    object-position: top;
    max-width: 100%;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: $spacing-small;

    &:hover {
      h3 {
        &:after {
          width: 100%;
        }
      }

      img {
        opacity: 0.8;
        transition: opacity 0.3s ease-in-out;
      }
    }

    h3 {
      font-size: map-get($responsive-heading-font-size, lg);
      margin: 0;
      position: relative;
      display: inline-block;

      &:after {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 4px;
        width: 0;
        height: 8px;
        background-color: $color-primary;
        transition: width 0.2s ease-in-out;
        z-index: -1;
      }
    }

    p {
      color: $color-on-primary-muted;
      font-weight: $font-weight-normal;
      margin: 0;
    }
  }
}
