@import "../../../design-tokens";

:host {
  .home-container {
    display: grid;
    grid-template-columns: 40% 55%;
    gap: $spacing-large;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .home-intro {
      position: relative;
      height: 100%;

      .home-intro-content {
        animation: fadeIn 0.5s ease-in-out;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        contain: layout style paint;
        position: fixed;
        top: 10%;
        max-width: 300px;

        .home-intro-content-footer {
          p,
          a {
            margin: 0;
            text-decoration: none;
            font-size: map-get($text-font-size, small);
          }

          .home-intro-content-footer-contact {
            display: inline-block;

            a {
              color: $color-on-primary;
              display: inline-block;
              position: relative;
            }

            a:after {
              content: "";
              position: absolute;
              bottom: 3px;
              left: 4px;
              height: 3px;
              background-color: $color-primary;
              width: 0;
              z-index: -1;
              transition: width 0.3s ease-in-out;
            }

            a:hover:after {
              width: 100%;
            }
          }

          p {
            color: $color-on-primary-muted;
          }
        }
      }

      h1 {
        margin: 0;
      }

      .subtitle {
        font-size: map-get($text-font-size, large);
        margin: $spacing-medium 0;
      }

      .description {
        font-size: map-get($text-font-size, normal);
        margin: $spacing-medium 0;
        max-width: 400px;
        color: $color-on-primary-muted;
      }
    }

    .home-scroll {
      animation: fadeIn 0.5s ease-in-out;
      padding-bottom: 8rem;

      .section-title {
        display: none;
      }

      .home-experience,
      .home-projects,
      .home-listening {
        display: flex;
        flex-direction: column;
        gap: $spacing-medium;
      }

      .home-social {
        h2.social-title {
          margin-bottom: $spacing-medium;
        }
        .home-social-container {
          display: flex;
          gap: $spacing-medium;
          flex-wrap: wrap;
        }
      }

      section + section {
        margin-top: 8rem;
      }

      .personal-title {
        font-size: map-get($text-font-size, x-small);
        letter-spacing: 1px;
        text-transform: uppercase;
        padding: $spacing-medium 0;
        margin-bottom: 0;
      }
    }
  }

  // Tablet and below
  @media (max-width: map-get($max-width, md)) {
    .home-container {
      grid-template-columns: 1fr;
      height: auto;
      align-items: start;
      gap: $spacing-extra-large;

      .home-intro {
        .home-intro-content {
          height: 100%;
          position: static;
          max-width: 100%;
          margin-bottom: $spacing-large;

          .home-intro-content-footer {
            display: none;
          }
        }
      }

      .home-scroll {
        section + section {
          margin-top: $spacing-extra-large;
        }

        section {
          position: static;

          .section-title {
            display: block;
            font-size: map-get($responsive-heading-font-size, h3);
            margin: 0;
          }
        }
      }
    }
  }

  // Mobile
  @media (max-width: map-get($max-width, sm)) {
    .home-container {
      gap: $spacing-large;

      .home-intro {
        .home-intro-content {
          position: static;
          margin-bottom: $spacing-medium;
        }

        .description {
          max-width: 100%;
        }
      }

      .home-scroll {
        section {
          position: relative;

          .section-title {
            backdrop-filter: blur(10px);
          }

          .experience-title,
          .projects-title {
            z-index: 2;
            position: sticky;
            padding: $spacing-medium 0;
            top: 0;
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
