<section class="home-container">
  <div class="home-intro">
    <div class="home-intro-content">
      <div class="home-intro-content-header">
        <h1>Tamás Stephen</h1>
        <p class="subtitle">Frontend Engineer</p>
        <p class="description">
          A dedicated Frontend Engineer who structures web applications with the
          care and consideration found in a well-written novel or a meticulously
          crafted album.
        </p>
      </div>
      <div class="home-intro-content-footer">
        <p>Hungary, Budapest</p>
        <p class="home-intro-content-footer-contact">
          <a href="mailto:stephen.tamas@gmail.com"
            >tamas.stephen&#64;proton.me</a
          >
        </p>
      </div>
    </div>
  </div>
  <div class="home-scroll">
    <section class="home-experience">
      <h2 class="experience-title section-title">Experience</h2>
      @for (experience of experienceData(); track experience.company) {
      <app-experience [experienceData]="experience"></app-experience>
      }
    </section>
    <section class="home-projects">
      <h2 class="projects-title section-title">Projects</h2>
      @for (project of projectsData(); track project.name) {
      <app-project
        [title]="project.name"
        [image]="project.image"
        [description]="project.description"
        [url]="project.url"
        [technologies]="project.technologies"
      ></app-project>
      }
    </section>
    <section class="home-listening">
      <h2 class="personal-title">Some favorites to listen to</h2>
      <article>
        <iframe
          data-testid="embed-iframe"
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/5TSUGeHrPDFKkksGDsLBN8?utm_source=generator"
          width="100%"
          height="152"
          frameBorder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </article>
      <article>
        <iframe
          data-testid="embed-iframe"
          style="border-radius: 12px"
          src="https://open.spotify.com/embed/playlist/7ix42y7ZbhLCUYCp0zZTPf?utm_source=generator"
          width="100%"
          height="152"
          frameBorder="0"
          allowfullscreen=""
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"
        ></iframe>
      </article>
    </section>
  </div>
</section>
