@import "../../../design-tokens";

:host {
  .home-container {
    display: grid;
    grid-template-columns: 40% 55%;
    gap: $spacing-large;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .home-intro {
      position: relative;

      .home-intro-content {
        animation: fadeIn 0.5s ease-in-out;
        contain: layout style paint;
        position: fixed;
        top: 10%;
        max-width: 300px;
      }

      h1 {
        margin: 0;
      }

      .subtitle {
        font-size: map-get($text-font-size, large);
        margin: $spacing-medium 0;
      }

      .description {
        font-size: map-get($text-font-size, normal);
        margin: $spacing-medium 0;
        max-width: 400px;
        color: $color-on-primary-muted;
      }
    }

    .home-scroll {
      animation: fadeIn 0.5s ease-in-out;

      .experience-title {
        display: none;
      }

      .home-experience {
        display: flex;
        flex-direction: column;
        gap: $spacing-medium;
      }
    }
  }

  // Tablet and below
  @media (max-width: map-get($max-width, md)) {
    .home-container {
      grid-template-columns: 1fr;
      height: auto;
      align-items: start;
      gap: $spacing-extra-large;

      .home-intro {
        .home-intro-content {
          position: static;
          max-width: 100%;
          margin-bottom: $spacing-large;
        }
      }

      .home-scroll {
        .experience-title {
          display: block;
          font-size: map-get($responsive-heading-font-size, h3);
          margin: 0;
        }
      }
    }
  }

  // Mobile
  @media (max-width: map-get($max-width, sm)) {
    .home-container {
      gap: $spacing-large;

      .home-intro {
        .home-intro-content {
          margin-bottom: $spacing-medium;
        }

        .description {
          max-width: 100%;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
