// Colors
$color-primary: #6200ea;
$color-secondary: #00c0f9;
$color-background: #002244;
$color-surface: #1e1e1e;
$color-error: #cf6679;
$color-on-primary: #f4f4f4;
$color-on-primary-muted: #b0b0b0;
$color-on-secondary: #000000;
$color-on-background: #f4f4f4;
$color-on-surface: #e2f8e0;

// Spacing
$spacing-extra-small: 4px;
$spacing-small: 8px;
$spacing-medium-0-5: 12px;
$spacing-medium: 16px;
$spacing-large-0-5: 20px;
$spacing-large: 24px;
$spacing-extra-large-0-5: 32px;
$spacing-extra-large: 36px;

// Shadows
$shadow-1: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.12);
$shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

// Typography
$font-family: "Roboto", "Helvetica Neue", sans-serif;
$heading-font-size: (
  small: 1.25rem,
  medium: 1.5rem,
  large: 2rem,
  x-large: 2.5rem,
);

$line-height: (
  small: 1.2,
  normal: 1.5,
  large: 1.8,
);

$paragraph-font-size: 1rem;
$font-weight-normal: 400;
$font-weight-bold: 700;
$text-font-size: (
  x-small: 0.75rem,
  small: 0.875rem,
  normal: 1rem,
  large: 1.25rem,
  x-large: 1.5rem,
);

$font-weight-middle: 500;

$responsive-heading-font-size: (
  h1: clamp(2rem, 2.5rem, 2.5rem),
  h2: clamp(1.5rem, 2rem, 2rem),
  h3: clamp(1.25rem, 1.5rem, 1.5rem),
  lg: clamp(1rem, 1.25rem, 1.25rem),
);

$title-letter-spacing: -0.5px;

// Layout
$max-width: (
  xs: 20rem,
  sm: 40rem,
  md: 48rem,
  lg: 64rem,
  xl: 80rem,
  xxl: 90rem,
);

$container-padding: (
  mobile: 1rem,
  tablet: 2rem,
  desktop: 2.5rem,
);

$section-padding: (
  y-mobile: 2rem,
  y-tablet: 3rem,
  y-desktop: 4rem,
  x-mobile: 1rem,
  x-tablet: 2rem,
  x-desktop: 2.5rem,
);

@mixin hover-underline {
  a.hover-underline {
    text-decoration: none;

    p {
      color: $color-on-background;
      font-weight: $font-weight-middle;
      font-size: map-get($text-font-size, normal);
      display: inline-block;
      position: relative;
      z-index: 1;
    }

    p:after {
      content: "";
      position: absolute;
      bottom: 1px;
      left: 4px;
      width: 0;
      height: 8px;
      background-color: $color-primary;
      transition: width 0.3s ease-in-out;
      z-index: -1;
    }

    p:hover:after {
      width: 100%;
    }
  }
}
