// Import design tokens
@import "design-tokens";

@font-face {
  font-family: "Roboto";
  src: url("assets/Roboto.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  height: 100%;
  margin: 0;
  background-color: $color-background;
  background: radial-gradient(circle at center, #002244, #07121d);
  color: $color-on-background;
  box-sizing: border-box;
  animation-timeline: --scroll-timeline;
}

main {
  max-width: map-get($max-width, xxl);
  margin: 0 auto;
  padding: map-get($section-padding, y-desktop)
    map-get($section-padding, x-desktop);
}

h1 {
  font-size: map-get($responsive-heading-font-size, h1);
  font-weight: $font-weight-middle;
  letter-spacing: $title-letter-spacing;
  line-height: map-get($line-height, small);
}

h2 {
  font-size: map-get($responsive-heading-font-size, h2);
  font-weight: $font-weight-middle;
  line-height: map-get($line-height, small);
}

h3 {
  font-size: map-get($responsive-heading-font-size, h3);
  font-weight: $font-weight-middle;
  line-height: map-get($line-height, small);
}

p {
  font-size: $paragraph-font-size;
  font-weight: $font-weight-normal;
  line-height: map-get($line-height, normal);
}

.button {
  padding: $spacing-small $spacing-medium;
  box-shadow: $shadow-2;
  background-color: $color-primary;
  color: $color-on-primary;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animate-out {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

article {
  animation-timeline: view();
  animation-name: animate-in, animate-out;
  animation-range: entry 0% cover 30%;
  animation-duration: 1ms;
}

@media (max-width: map-get($max-width, md)) {
  main {
    padding: map-get($section-padding, y-tablet)
      map-get($section-padding, x-tablet);
  }
}

@media (max-width: map-get($max-width, sm)) {
  main {
    padding: map-get($section-padding, y-desktop)
      map-get($section-padding, x-mobile);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
